.v-offset-1 {
  margin-top: 15px !important;
}

.v-offset-2 {
  margin-top: 30px !important;
}

.v-offset-3 {
  margin-top: 45px !important;
}

.v-offset-4 {
  margin-top: 60px !important;
}

.v-offset-5 {
  margin-top: 75px !important;
}

.v-offset-6 {
  margin-top: 90px !important;
}
