.v-offset-1 {
  margin-top: 15px !important;
}

.v-offset-2 {
  margin-top: 30px !important;
}

.v-offset-3 {
  margin-top: 45px !important;
}

.v-offset-4 {
  margin-top: 60px !important;
}

.v-offset-5 {
  margin-top: 75px !important;
}

.v-offset-6 {
  margin-top: 90px !important;
}

.v-offset-7 {
  margin-top: 105px !important;
}

.v-offset-8 {
  margin-top: 120px !important;
}

.v-offset-9 {
  margin-top: 135px !important;
}

.v-offset-10 {
  margin-top: 150px !important;
}

.v-offset-11 {
  margin-top: 165px !important;
}

.v-offset-12 {
  margin-top: 180px !important;
}

.v-offset-7 {
  margin-top: 105px !important;
}
